@font-face {
    font-family: 'tvn_enjoystoriesmedium';
    src: url('/fonts/tvn_enjoy/tvn_oooaae_medium-webfont.woff2') format('woff2'),
         url('/fonts/tvn_enjoy/tvn_oooaae_medium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'museo_sans500';
    src: url('/fonts/museo/exljbris_-_museosans-500-webfont.woff2') format('woff2'),
         url('/fonts/museo/exljbris_-_museosans-500-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'museo_sans100';
    src: url('/fonts/museo/museosans_100-webfont.woff2') format('woff2'),
         url('/fonts/museo/museosans_100-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'museo_sans300';
    src: url('/fonts/museo/museosans_300-webfont.woff2') format('woff2'),
         url('/fonts/museo/museosans_300-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'museo_sans700';
    src: url('/fonts/museo/museosans_700-webfont.woff2') format('woff2'),
         url('/fonts/museo/museosans_700-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}