@import url('https://fonts.googleapis.com/css?family=Poppins:100,300,400,500,600,700');

.__light{
    font-weight: 300;
}

.__regular{
    font-weight: 400;
}

.__medium{
    font-weight: 500;
}

.__semi-bold{
    font-weight: 600;
}

